[2013-12-19 21:57] micz opened #1 "Prefix the js / xul files"
Prefix the js / xul files to make them easier recognizable in the debugger:
e.g.
ccv-overlay.js
ccv-overlay.xul
ccv-settings.xul

[props Axel Grude]

[2013-12-19 21:58] micz opened #2 "Change "Conversation View" to a better name"
Using "Conversation View" may be confused with the "Conversation view" addon.
It should be better to use "Conversation Tab" or "message opened in conversation".

[props Axel Grude]

[2013-12-19 22:12] micz opened #3 "Global Namespaces as one unique variable"
Use

var ColumnCV={}

as namespace and not it.micz.ColumnCV={};

[2013-12-21 17:26] micz opened #4 "Change italian locale folder name"
Change italian locale folder name from it-IT to it.

[props Axel Grude]

[2013-12-21 17:28] #4 closed, assigned to micz

[2013-12-21 17:38] #2 closed, assigned to micz

[2013-12-21 19:28] #3 closed, assigned to micz

[2013-12-21 19:35] #1 closed, assigned to micz

[2013-12-30 13:44] micz opened #5 "New Custom Column: Attachment size"
Add the custom columns "attachment size" so it could be possibile to sort emails by the amount of space we can save by removing / detaching these files.

[props Axel Grude]

[2013-12-30 13:45] micz opened #6 "New Custom Column: bcc"
Add the bcc new custom column.

[props Axel Grude]

[2013-12-30 15:47] micz opened #7 "Add background color to css class .mzcw-warn"
From AMO preliminary review for version 3.0:
"There is one little thing you might want to improve in your css file
.mzcw-warn{color:red;font-weight:bold;font-style:italic;} it is generally not a good idea to only specify a font color for an element without doing a background or at least text shadow, as it can generate issues depending on the theme or OS you are using."

[2014-01-01 23:13] #7 closed, assigned to micz

[2014-01-07 13:44] micz opened #8 "New Custom Column: number of files attached"
Add the number of files attached new custom column.

[props Dario]

[2014-01-14 09:15] micz opened #9 "New Standard Column in Conversation View: Recipient"
Add the Recipient standard column in the Conversation View

[2014-02-10 19:09] #9 closed, assigned to micz

[2014-04-08 17:05] trx4man opened #10 "New Custom Column: Reply-To"
Add the Reply-To new custom column.

[2014-04-10 16:16] micz opened #11 "Check the behaviour in the search window"
In the search window the columns display behaviur si strange: it shows the location column, but not in the column picker.
It doesn't show the recipient column.

thunderbird 24.4.0 and addon version 3.1

[2014-04-18 16:26] rthfttdrthdg opened #12 "New custom column: Content-Base"
Add the Content-Base new custom column.

[2014-05-19 07:50] ugcheleuce opened #13 "New custom column: X-Original-From:"
Request for new custom column: X-Original-From:

Reason: Subscribers of Yahoogroups mailing lists have noticed a change in the way Yahoogroups deals with "FROM" addresses, which makes it difficult to see who an e-mail is from.  Previously, the original sender's address was in the "From:" header, but due to DMARC changes Yahoogroups now puts the mailing list address in the "From:" header, and moves

[2014-05-22 21:05] #6 closed, assigned to micz

[2014-05-22 21:24] #10 closed, assigned to micz

[2014-05-22 21:39] #11 closed, assigned to micz

[2014-05-23 20:02] #13 closed, assigned to micz

[2014-05-23 20:14] #12 closed, assigned to micz

[2014-06-16 19:12] micz opened #14 "Resize column"
From a user:

I seem to have lost the ability to change the width of the Cc column. The little left/right arrow cursor to slide the column boundary doesn't appear. Anything I can do to change the width in a particular folder?

[2014-06-22 18:51] #14 closed, assigned to micz

[2014-06-22 18:52] micz opened #15 "New option to always show custom columns"
Add an option to always show a selected custom column in all folders by default.

[2014-07-06 08:52] micz opened #16 "Do not use the eval function"
Do not use the eval function in chrome/content/mzcw-customcolumns.js.
Find another way to automate the custom columns handling.

[2014-08-11 09:56] jpeg729 opened #17 "New Custom Column: X-Spam-Score"
This would be ideal for assessing the sensitivity level of spamassassin.

[2014-09-12 17:37] StoneyCreeker opened #19 "Add custom named header columns"
I am creating exim spam filter rules for my small mail server and have written my code to add a new header to the end of possible spam message headers called "SpamRule" . I can see it in TB in the headers view and it tells me which rule flagged the message as spam to edit it for false-positives. It would be nice if I could have a column for this header to see which ones are doing most of the filte

[2014-11-25 10:09] hashar opened #20 "Custom columns based on mail headers"
Just found your plugin which is kind of nice.  It seems you can add an interface to let people add whatever mail headers they might need. There is a [mailnews.customDBHeaders](https://developer.mozilla.org/en-US/Add-ons/Thunderbird/customDBHeaders_Preference) option which is a space separated and lower case list of headers that Thunderbird will index when receiving a new mail.  For previously rece

[2014-12-24 20:46] #16 closed, assigned to micz

[2015-01-20 23:23] micz commented on #15
fixed in 26e4ff0d1a6021b1b4ec3df10ff7e6902e3299aa

[2015-01-20 23:23] #15 closed

[2015-01-25 00:00] micz opened #21 "cc tooltip not loaded"
it and en-US locale. cc tooltip is not loaded.
It shows "cc".

[2015-01-25 17:13] micz commented on #21
Canceled: it was not a bug: the test data had "cc" as tooltip for that column.

[2015-01-25 17:13] #21 closed

[2015-01-25 17:15] micz opened #22 "Custom Columns pref tab listbox sorted alphabetically"
Sort alphabetically the listbox in the Custom Columns preference tab.

[2015-01-26 21:32] micz commented on #20
Milestone 5.0 removed.
With version 5.0 it will be possible to add any custom column directly from the addon preference panel.
The feature to show any custom db header not linked with a custom column wil be added in a future release.

[2015-01-27 19:27] #17 closed

[2015-01-27 21:22] micz opened #23 "Check for duplicates ID before saving a Custom Column"
When adding a custom column, we need to check if the ID is already used.

[2015-01-28 21:12] #23 closed

[2015-02-05 20:45] micz commented on #19
From version 5.0 you can add a custom column directly from the addon preference panel.
The StoneyCreeker branch has been deleted.

[2015-02-05 21:02] micz opened #24 "Test using pref to store columnstates"
Test using the Thunderbird pref

mailnews.database.global.views.conversation.columns

[2015-02-06 16:06] StoneyCreeker commented on #19
I updated to 5.0 and the supplied custom columns work fine.
But when I try to add new it does not work.
I go to "New..."
Under ID I add MySpamRules
Under Mail Header I add SpamRule
Under Column Name I add SpamRule
Under Tooltip I add sort by SpamRule
I check the "Enabled" checkbox

When I click "OK" nothing happens.

[2015-02-06 16:29] StoneyCreeker commented on #24
Hi Mic

I updated to 5.0 and the supplied custom columns work fine.
But when I try to add new it does not work.

I go to "New..."
Under ID I add MySpamRules
Under Mail Header I add SpamRule
Under Column Name I add SpamRule
Under Tooltip I add sort by SpamRule
I check the "Enabled" checkbox

When I click "OK" nothing happens.

Thank you!

StoneyCreeker

-----Original Message-----
From: Mic [mailto:

[2015-02-06 19:06] micz commented on #19
My bad, I left a breakpoint I added fro a test and not removed it before the release.
I'm releasing version 5.0.1.

[2015-02-06 19:09] #19 closed

[2015-02-11 16:34] StoneyCreeker commented on #19
Works perfect!!!!

Thanks Mic

My donation is on it's way...

-----Original Message-----
From: Mic [mailto:notifications@github.com]
Sent: Friday, February 06, 2015 2:06 PM
To: micz/ColumnsWizard
Cc: StoneyCreeker
Subject: Re: [ColumnsWizard] Add custom named header columns (#19)

My bad, I left a breakpoint I added fro a test and not removed it before the release.
I'm releasing version 5.0.1.

—

[2015-02-11 20:46] micz commented on #19
I'm happy it worked!
Thank you!

[2015-02-14 23:10] micz opened #25 "Warn message before saving or resetting columns"
Add a warn message before saving or resetting the folder columns.

[2015-02-25 14:15] AntoineTurmel opened #26 "Allow icon for column name"
It would be nice to be able to set icons instead of column name. (Providing a custom 16x16 png for example)

[2015-02-25 14:17] AntoineTurmel opened #27 "Custom columns based on rules/content"
The idea is to add an additional column to notify user if a mail contains a framadate/doodle link.

Eg. column for framadate
my_icon.png
look for mail containting http://framadate.org/* links.

[2015-04-05 19:57] #25 closed

[2015-05-22 01:43] davidhedlund opened #28 "Merge Header Tools Lite to ColumnsWizard"
![screenshot from 2015-05-22 02 42 33](https://cloud.githubusercontent.com/assets/6416073/7762881/1e39c432-0039-11e5-8141-5e385468c5ec.png)

![screenshot from 2015-05-22 04 19 05](https://cloud.githubusercontent.com/assets/6416073/7763063/baa3f156-003b-11e5-943e-8974ceb65657.png)

@micz To make use of ColumnsWizard for customized columns you must use additional add-ons like Header Tools Lite to ad

[2015-05-23 06:00] micz commented on #28
The idea of CW is to show an already present mail header.
What you're asking is a way to add and manually modify a custom header on a single mail message.

I think merging that addon could yield to make CW very less usable.

Maybe a better solution could be to add an "advanced" tab on the custom header form that lets the user define that header as "manually modifiable".
For those "modifiable" cust

[2015-05-23 14:18] davidhedlund commented on #28
@micz Can you please give me a modified screenshot of your idea?

[2015-05-29 08:35] MikeEvans opened #29 "Sort order of numeric values is a bit screwy"
![x-spam-score](https://cloud.githubusercontent.com/assets/2635196/7879183/06487ce4-05e6-11e5-8459-d4de62173763.PNG)

It looks like it strips off the negative and sorts the rest as a string to me.

[2015-05-29 20:39] micz commented on #29
It's needed to add a new option for a custom column that let the user choose to sort it as a number.
In mzcw-overlay.js it has to be used the `unsigned long getSortLongForRow(in nsIMsgDBHdr aHdr);` function instead of the current one: https://github.com/micz/ColumnsWizard/blob/3c50a8ef9248cc90ac121a49c364176e9a538d20/chrome/content/mzcw-overlay.js#L100 .

More info: https://developer.mozilla.org/e

[2015-05-29 20:59] micz commented on #28
In the Custom Colum Editor, something like that:
![mockup_ui_issue28](https://cloud.githubusercontent.com/assets/61795/7892605/214c226e-0656-11e5-9f8d-16302b603045.png)

Then, in the message list, adding a menu item that let the user modify those headers (opening an editor if number or free text, or directly choosing from the menu if a fixed list).

I hope it's more clear now.

[2015-05-29 21:54] davidhedlund commented on #28
@micz Thank you for taking your time. I think that is what I'm talking about. Do you want to implement it? =)

[2015-05-29 22:09] micz commented on #28
I think it's a good idea and I'll take into account for future development.
Thank you!

[2015-05-30 00:25] davidhedlund commented on #28
@micz Namaste.

[2015-06-02 14:20] davidhedlund opened #30 "Consider merging Mnenhy to ColumnsWizard"
http://mnenhy.mozdev.org/ says that it is unmaintained since 2011. However, I was wrong, it is maintained according to https://addons.mozilla.org/en-US/thunderbird/addon/mnenhy/?src=search

Funny, your avatar's friend, the tiger in the comic, is on the screenshot in https://addons.mozilla.org/en-US/thunderbird/addon/mnenhy/

[2015-06-02 14:33] #30 closed

[2015-06-02 20:29] micz commented on #29
This bugfix will be released in version 5.0.3.

[2015-06-02 20:29] #29 closed

[2015-07-15 20:09] micz opened #31 "Add a license.txt file"
Add a license.txt file with the reference to all the other libraries and gifs (if needed).

[2015-07-18 22:35] #22 closed

[2015-07-19 09:05] #31 closed

[2015-07-19 09:05] micz opened #32 "Show license in pref info tab"
Show the license.txt file (see #31) in the preference info tab.

[2015-07-20 20:59] micz opened #33 "Custom Columns list with XUL Tree"
Use a XUL Tree instead of a listbox for the Custom Columns list in the preference window.

[2015-07-20 21:40] micz opened #34 "Refresh Custom Columns list"
Refresh the Custom Columns list in the preference window when adding or updating a Custom Column.

[2015-07-22 19:07] micz commented on #26
Feature implemented in version 5.1. Currently in branch.

[2015-07-22 19:07] #26 closed

[2015-07-22 19:15] micz commented on #34
Is' a bug only when updating images.

[2015-07-22 19:16] #34 closed

[2015-07-26 18:54] #32 closed

[2015-08-03 18:05] micz opened #35 "Searchable Custom Columns"
Add an option in the Custom Columns Editor to add the mail header to the searchable field in the Search window (opened with CTRL-F).
The mail header should be added to the `mailnews.customHeader` Thunderbird option.

[2015-08-17 21:41] micz opened #36 "Add a trim before saving mailnews.customDBHeaders"
Add a trim before saving mailnews.customDBHeaders, to avoid blank spaces at the beginning or the end.

[2015-08-17 21:50] #36 closed

[2015-08-18 09:28] #35 closed

[2015-08-18 09:58] micz commented on #28
Working on branch headermod: https://github.com/micz/ColumnsWizard/tree/headermod

[2015-08-18 10:29] davidhedlund commented on #28
@micz I'm excited.

[2015-08-18 16:21] micz opened #37 "Fix checkbox label in cust col editor"
In cust col editor set the searcheable, enabled and sort checkbox text as checkbox label and not description.

[2015-08-18 16:44] micz opened #38 "Fix mailnews.customHeader array join"
Trim the ": " at the beginning of the string before saving the pref after joining the array.

[2015-08-19 11:43] micz opened #39 "Make the pref window always raised"
Settings window: make this topmost so it doesn't go away if we click on any buttons in the TS UI.
Some code how Axel does it in QuickFolders:

    let params = {inn:{mode:"allOptions",tab:selectedTab, message: updateMessage, instance: QuickFolders}, out:null},
      //  in linux the first alwaysRaised hides the next child (config dialogs)
      features = (QuickFolders.Util.HostSystem == 'linux')

[2015-08-20 21:54] #37 closed

[2015-08-20 22:00] #38 closed

[2015-08-21 14:10] micz opened #40 "Header Mod: Fix contextual menu update"
Sometimes the contextual menu for header editing is not updated on pref changes (like different edit type).
Ref #28.

[2015-08-21 14:27] micz commented on #28
May you test this version?
https://www.dropbox.com/s/vc49uze6i9kez9f/ColumnsWizard-headermod.xpi?dl=0

Please consider that not all the development for 5.2 (https://github.com/micz/ColumnsWizard/milestones/5.2) has been done in this branch.
Some new feature and bug fixes not related to this issue have been pushed directly to trunc.
Consider also this still open bug: #40.

Thanks.

[2015-08-21 20:07] micz commented on #28
I've updated the file link in the previous comment, please use this new one. Thanks.

[2015-08-21 20:18] micz commented on #40
Fixed in 5.2alpha3.

[2015-08-21 20:20] micz opened #41 "Mail Headers Edit: option to force sorting for the fixed list"
Add an option in the advanced cust cols editor tab to force an alphabetical order for the fixed list elements.

[2015-08-21 22:13] micz commented on #39
This can be implemented only if there is a way to open the preferences directly form the addon and not from the addon manager.
In Columns Wizard the only way to open the pref window is from the addon manager.

[2015-08-21 22:13] #39 closed

[2015-08-22 08:57] micz commented on #28
New version released. Link updated in the previous post.

[2015-08-25 02:28] davidhedlund commented on #28
@micz I will try version 6.0 once it gets updated automatically in Icedove. That is, when its uploaded and signed in addons.mozilla.org as the latest release.

Thank you for your hard work so far micz.

[2015-08-25 19:32] micz commented on #28
This feature will be released in version 6.0.
Version 5.2 is for some other minor features and fixes and I decided to release those alone.

I used some Header Tools Lite code as stated in the source code, here: https://github.com/micz/ColumnsWizard/blob/headermod/chrome/content/mzcw-msgutils.jsm

Before releasing it on AMO I need a little help in testing. It could be possibile for you to test it i

[2015-08-25 19:38] davidhedlund commented on #28
@micz Thank you. Please also mention Header Tools Lite in the release notes.

I can beta-test version 6.0 for you but it seems like its not available for download yet. Please let me know where and when I can get it.

[2015-08-25 19:40] micz commented on #28
Ok, thanks. I'll write here when ready.
I'll release it in the next few days.

[2015-08-31 20:28] micz opened #42 "Header update fails"
The header updating is failing every time.
It correctly founds the header, but if it's the last one added, it's not updated.

[2015-09-10 21:10] micz commented on #28
I added the new version in the beta channel, sorry for the delay.
You could download it from here: https://addons.mozilla.org/en-US/thunderbird/addon/columnswizard/versions/beta

I wait for your feedback. Thanks!

[2015-09-11 15:34] davidhedlund commented on #28
Thank you too. I'll try it in a fresh Icedove profile for evaluation next week most likely. Have a nice weekend @micz.

[2015-09-15 00:08] davidhedlund commented on #28
@micz In the "Advanced" tab I've selected "This mail message header can be manually modified". I choosed "Free text". Where do I change it now?

[2015-09-15 19:19] micz opened #43 "Add a shortcut to mail headers editor"
Add a shortcut to open the mail headers editor.

[2015-09-15 19:25] micz commented on #28
Great!

I think I won't add a multiple message headers editor, since it's something not on topic for this addon.
For the shortcut I've raised the issue #43.

For the sort problems, I need some info, since on my system I can't reproduce it:
 * Thunderbird version
 * Account type (POP3 / IMAP)
 * Which mail header are you modifying.

Thanks.

[2015-09-15 22:53] davidhedlund commented on #28
Why are you not interested to add a multiple header editor?

* Icedove 31.8.0
* Account type: SMTP
* Any modified mail header will break the previous sort.

[2015-09-16 22:12] micz commented on #28
I tested it in a Debian virtual machine with Icedove 31.8.0 and it works.
When changing an header it changes the listed message and then it sorts the messages list immediately.
I still can't reproduce the bug.
May you send me the installed addon list? If you don't want to publish it here, send it to m@micz.it.
Thanks.

[2015-09-16 23:37] davidhedlund commented on #28
@micz It works as long as I sort by the header that is being edited, but not if I sort by date and then edit.

No add-ons installed except CW.

[2015-09-16 23:49] davidhedlund commented on #28
@micz I rewarded you with a link to gratis italodisco!

[2015-09-21 20:11] micz commented on #28
Thanks for the test.
I'm going to release version 6.0 in the next days.

[2015-09-21 20:13] micz opened #44 "Add a toolbar button"
Add a toolbar button to open the pref window.

Also install the toolbar button at first run
See: https://developer.mozilla.org/en-US/Add-ons/Code_snippets/Toolbar

[2015-09-22 05:21] davidhedlund commented on #28
@micz This is a great milestone to the the Icedove community. I will upgrade ASAP. All the best.

[2015-09-22 05:25] davidhedlund commented on #28
@micz Please add the new feature to the text in:
* https://addons.mozilla.org/thunderbird/addon/columnswizard/
* http://micz.it/thunderdbird-addon-columnswizard/

[2015-09-22 20:49] #28 closed

[2015-09-22 20:49] #40 closed

[2015-09-22 20:49] #42 closed

[2015-09-22 21:32] #44 closed

[2015-09-24 11:25] davidhedlund commented on #28
@micz Please let me know when its is uploaded on addons.mozilla.org.

[2015-09-24 18:39] micz commented on #28
I'm currenlty waiting for the translators to update their languages.
I'll wait till next week before updating.

[2015-09-25 21:43] micz opened #45 "Mail header editing: IMAP update force on subject"
On mail header editing (see #28).
Add an option to choose to force the IMAP updated adding or removing a space at the end of the subject instead of change the time by one second.

Make it a default option.

[2015-09-27 20:20] micz opened #46 "Impossible to resize some columns under certain conditions"
What's the issue?
-----------------
If you set the default columns for new folders via the settings dialog,
some of them can't be resized afterwards. This is not true in all cases, it
depends on the columns being shown and their order. If the default columns
are set via the column picker of the message list, this bug does not show
(for new columns).

How to reproduce the issue?
-------------------

[2015-09-27 21:34] micz commented on #46
New default cols pref is fixed in

It's still needed to sanitize the ordinal value, when empty in the `DefaultColsList` pref for old installations.

[2015-09-28 21:51] #46 closed

[2015-09-30 20:20] micz commented on #28
Version 6.0 has been released today.

[2015-10-02 09:14] davidhedlund commented on #28
@micz Thanks! I just updated CW to version 6.0 but could not find any shortcuts. Have you added them?

[2015-10-02 12:34] micz commented on #28
The shortcuts will be added in a next version: #43.

[2015-10-02 12:48] davidhedlund commented on #43
Great!

[2015-10-29 20:35] micz opened #47 "Show columns also in search dialog"
Show the "conversation tab" columns also in the search dialog opened by crtl+f.

[2015-10-29 20:38] micz opened #48 "Add custom columns also in conversation tab"
Add custom columns also in conversation tab.
Add columns picker menu also in conversation tab.

[2015-11-06 09:40] thebigconsultant commented on #20
Hi. I wish to also add custom header data into the column view. However, I do not understand how to create a column for 'return-path' for example.
- I have typed in return-path for the ID and for Mail Header boxes, however I am getting no joy.
- Could anyone explain?
Many thanks!

[2015-11-07 07:59] micz commented on #20
First you need to add a new custom column, with the editor:

![165946](https://cloud.githubusercontent.com/assets/61795/11014202/108ef14e-852d-11e5-9d5e-171bc2637b6c.png)

Put return-path as "ID" and "Mail Header".
The other fields are for display, so put in there what you want.

"Enabled" must be selected.

After that you need to select the new column from the messages list columns picker.
Please

[2015-11-07 08:34] micz commented on #47
A different columns management will be added.

[2015-11-07 08:34] #47 closed

[2015-11-07 09:34] micz opened #49 "Pref search dialog columns default manager"
Add a way to manage the search dialog columns layout default in the preference window.

[2015-11-07 09:41] micz opened #50 "Conversation tab save and reset menu"
Conversation tab save and reset menu must be the search dialog ones and not the folder ones.

[2015-11-07 10:28] micz opened #51 "Code optimization"
Come optimization between mzcw-overlay.js and mzcw-overlay-searchdialog.js, merging any duplicated code.

[2015-11-23 10:10] flyingzebras opened #52 "Multiple edits"
Can you please make it possible to edit all selected emails mailing headers?

It is not very convenient to edit them one-by-one if all I want to do is to give them the same header name.

[2016-02-01 02:56] davidhedlund opened #53 "Mail Header Editor not cross compatible"
I cannot add anything from "CW Header Edit -> Mycolumn -> Mail Header Editor" for emails that have been sent from SquirrelMail (gandi.net tested).

[2016-02-01 19:53] micz commented on #53
May you tell me what is the behaviour in this case?
There is an error message? It seems to work right, but it does not modify the header?
Which is the account type? (IMAP, POP3)
Thanks.

[2016-02-02 03:10] flyingzebras commented on #53
"There is an error message?": No

"It seems to work right, but it does not modify the header?": Yes

"Which is the account type? (IMAP, POP3)": IMAP

[2016-02-02 21:33] micz commented on #53
I'm sorry but I need to see the header information of one of those messages.
If you agree to show that to me, do not publish it here, but send it to m@micz.it.
Thanks.

[2016-02-06 22:55] flyingzebras commented on #53
I could edit it now, this is weird as I still use CW version 6.0. I keep you updated if I encounter this issue in the future.

[2016-02-06 22:58] #53 closed

[2016-05-30 20:27] micz opened #54 "Add Correspondents column label"
Add Correspondents column label to the settings panel.

See: https://github.com/micz/ColumnsWizard/blob/master/chrome/content/mzcw-defaultcolsgrid.jsm#L324

[2016-06-27 07:38] robinsmidsrod opened #55 "Unable to create sortable columns on DSPAM headers"
I've tried to create columns for these two headers injected by DSPAM into each message in my inbox, but they just show up as blank columns when I use number or alphabetical sorting.

    X-DSPAM-Confidence: 0.9899
    X-DSPAM-Probability: 1.0000

I do notice that they have 4 decimals, but that shouldn't stop them from being shown when using normal alphabetical sort.

Also, it would be nice to have

[2016-06-28 19:48] micz opened #56 "Add one more decimal"
Add one more decimal for the number column sorting.
The max allowed number must be dived by 10.

[2016-06-28 19:49] micz commented on #55
I've tried to add those headers in a mail and they are correctly shown by Thunderbird.

Remember that the columns will have a value only for the mails received after you've added the custom columns to Thunderbird, because Thunderbird needs to index them in its database.
If you're using an IMAP account, you could move a mail to a new folder and then you should see the values in the custom columns.

[2016-06-28 19:49] #55 closed

[2016-06-28 22:11] robinsmidsrod commented on #55
@micz Thanks for the insight on how indexing affects display of old messages. I have seen the column data on new messages that have arrived.

[2016-07-09 20:18] rmroczk commented on #20
I have followed these instructions and repaired the folder in order that the index be rebuilt but the return-path still does not show up.  Any suggestions?

[2016-07-18 18:55] micz commented on #20
In the last Thunderbird versions the index rebuild doesn't work to force a new column to be indexed. Which version are you using?
Is the new column filled for newly arrived emails?

[2016-08-17 11:39] dexter777 commented on #20
I also tried adding Return-Path, it doesn't work for current and new messages, it's empty. Other custom headers work, maybe it's related to https://bugzilla.mozilla.org/show_bug.cgi?id=494100

[2016-08-18 10:27] micz commented on #20
@dexter777 I think you're right, this problem is related to that old Thunderbird bug.
Thank you.

[2016-08-26 17:39] joshuagay opened #57 "License conflict between CC BY-NC and GPLv3"
While reviewing the entry for [ColumnsWizard](http://directory.fsf.org/wiki/ColumnsWizard) as part of my volunteer work for the FSF's Free Software Directory, I noticed that the license for ColumnsWizard states  "ColumnsWizard is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by-nc/4.0

[2016-09-02 19:03] micz commented on #57
I fixed the problem in commit https://github.com/micz/ColumnsWizard/commit/71a3aa8cac4a354960ae580245253a7fb97e746f.
I'm going to submit version 6.0.4 for release.
Thank you.

[2016-09-02 19:03] #57 closed

[2016-09-05 17:40] micz commented on #57
Version 6.0.4 has been reviewed and released.

[2016-11-28 05:29] tyrogidome opened #58 "New custom column has blank content"
Among the headers on each inbound Gmail message is "Delivered-To" which
is never empty. I used Column Wizard to create a custom column that should
display the contents of this field on my Gmail account, but the field is blank
for all of the 2600 messages in the account.

Did I do something wrong?

Is this a bug?

How might I fix this?

[2016-11-28 21:18] micz commented on #58
Thunderbird shows custom columns only for mails received after the new column setup.
You could try to repair the folder (losing any folder properties like columns setup and sorting column and order), but in some Thunderbird versions it doesn't work.

[2016-11-28 21:18] #58 closed

[2016-11-28 22:01] tyrogidome commented on #58
You were right: it only shows the new column's content for new messages.
Also, I had to restart Thunderbird for it to work. Looks good so far. Thanks.
You can close thread.

[2016-11-28 22:07] micz commented on #58
Thank you for your report.

[2016-12-07 09:03] davidhedlund opened #59 "Cannot remove text from emails once added"
Steps to reproduce:
* ColumnsWizard -> Custom Columns -> New -> Foo
* Show the new column in say Inbox.
* Select a mail -> Context -> CV Header Edit -> Foo -> Enter "Bar"
* Repeat the previous step but remove "Bar" this time. It won't work, "Bar" will still be stated.

[2016-12-08 14:33] micz commented on #59
I'll add a "Empty header" menu item to clear a previously filled custom header.

[2016-12-09 06:15] davidhedlund commented on #59
@micz I'm happy to hear that. But why not make it possible to empty them as in the example in provided?

[2017-03-27 19:48] davidhedlund opened #60 "Mail Header capitals ignored"
Client: Thunderbird 52.2.1(GNU/Linux 64 bit) -- Icedove 38.8.0 was used to capture the screenshots but the bugs are identical in Thunderbird.
ColumnsWizard version: 6.0.4

# Mail Header capitals ignored

![screenshot from 2017-07-18 15 52 41](https://user-images.githubusercontent.com/6416073/28320755-ab883cdc-6bd1-11e7-9573-9028c9b74df7.png)

![screenshot from 2017-07-18 16 07 10](https://user-ima

[2017-03-27 19:48] davidhedlund commented on #60
[mylabel:important](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aimportant%22+in%3Acomments&type=Issues&ref=searchresults)

[2017-03-27 19:50] davidhedlund opened #61 "Convert ColumnsWizard to a WebExtension"
https://addons.mozilla.org/api/v3/addons/addon/columnswizard/feature_compatibility/ says

ColumnsWizard is the absolutely best add-on for Thunderbird and Icedove that I've ever used. Can you please make it a web extension if you got time for it?

Not havint CW in the future will impact the infrastructure of the way I handle bug emails etc.

[2017-03-27 20:11] davidhedlund commented on #61
[mylabel:important](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aimportant%22+in%3Acomments&type=Issues&ref=searchresults)

[2017-03-28 02:45] yfdyh000 commented on #61
Thunderbird will not have and be WebExtension so far.

[2017-03-28 02:46] davidhedlund commented on #61
@yfdyh000

Can you please proof read that?

[2017-03-28 02:49] yfdyh000 commented on #61
https://wiki.mozilla.org/Add-ons/2017#Firefox_53

[2017-03-28 02:51] davidhedlund commented on #61
@yfdyh000 Thank you for the link. How will this affect CW?

[2017-03-28 02:52] yfdyh000 commented on #61
I have not heard that Thunderbird is implementing the WebExtension infrastructure.

[2017-03-28 02:55] davidhedlund commented on #61
@yfdyh000 Oh, I get it now. Thank you for explaining this to me.

But would you make CW a web extension if Thunderbird implemented the WebExtension infrastructure?

[2017-03-28 03:14] yfdyh000 commented on #61
It is very far away, you should waiting for have a draft at least.

Also, I don't works on this project.

[2017-03-28 03:14] davidhedlund commented on #61
@yfdyh000 Ok.

[2017-04-14 13:28] micz commented on #61
As long as I know there is no idea on moving web extension also to Thunderbird.
We need to wait for more info on this matter before discussing on how to port any extension to the new technology.

[2017-07-18 13:56] davidhedlund commented on #60
![screenshot from 2017-07-18 15 52 41](https://user-images.githubusercontent.com/6416073/28320755-ab883cdc-6bd1-11e7-9573-9028c9b74df7.png)

[2017-07-18 14:20] davidhedlund commented on #60
# Mail Header capitals ignored

![screenshot from 2017-07-18 15 52 41](https://user-images.githubusercontent.com/6416073/28320755-ab883cdc-6bd1-11e7-9573-9028c9b74df7.png)

![screenshot from 2017-07-18 16 07 10](https://user-images.githubusercontent.com/6416073/28321297-318c09de-6bd3-11e7-91e8-dd81b4ab127a.png)

As you can see, the Mail Header changed "Test" as seen in the first screenshot to "tes

[2017-07-18 14:21] davidhedlund commented on #60
@micz Can you please have a look on these issues?

CW is broken, I cannot use it at all right now.

[2017-07-18 14:23] davidhedlund commented on #60
I'm using

Client: Icedove 38.8.0 (GNU/Linux)
ColumnsWizard version: 6.0.4

[2017-07-18 14:24] davidhedlund commented on #60
@micz Please label this issue "Bug".

[2017-07-21 20:31] davidhedlund commented on #60
These bugs are also valid in the latest version of Thunderbird (52.2.1).

[2017-07-30 16:06] davidhedlund opened #62 "Merge "Advanced" to "General", and enable "This mail message header can be manually modified.""
![screenshot from 2017-07-30 18 03 44](https://user-images.githubusercontent.com/6416073/28754989-7402a3ae-7551-11e7-87f6-42975824246c.png)

![screenshot from 2017-07-30 17 58 15](https://user-images.githubusercontent.com/6416073/28754972-deffd164-7550-11e7-834d-243cfdacffef.png)

* Its hard to overview that this must be enabled when its located in its own tab, I suggest that you merge the setting

[2017-07-30 16:09] davidhedlund opened #63 "Make the "Column name" fully visible"
![screenshot from 2017-07-30 18 03 44](https://user-images.githubusercontent.com/6416073/28754989-7402a3ae-7551-11e7-87f6-42975824246c.png)
The "Column name" field is not fully visible.

[2017-07-30 18:19] davidhedlund opened #64 "Show CW custom columns text if you configure CW after you have added email accounts"
CW text in custom columns will show up properly if you:
1) Start a fresh profile in Thunderbird.
2) Configure ColumnsWizard.
3) Add email accounts.

but not if you:
1) Start a fresh profile in Thunderbird.
3) Add email accounts.
2) Configure ColumnsWizard.

[2017-07-30 18:22] davidhedlund commented on #64
Please warn users about this step if CW is unable to do something about it.

[2017-07-30 18:54] davidhedlund commented on #64
CW text in custom columns will show up properly if you:
1) Start a fresh profile in Thunderbird.
2) Configure ColumnsWizard.
3) Add email accounts.

but not if you:
1) Start a fresh profile in Thunderbird.
3) Add email accounts.
2) Configure ColumnsWizard.

[2017-09-18 09:11] MemePortela opened #65 "color and title of the label are lost"
When a change is made to a column, the color and title of the label are lost.

[2018-01-28 23:04] micz opened #66 "Thunderbird 57+ compatibility"
Add Thunderbird 57+ compatibility.
See https://wiki.mozilla.org/Thunderbird/Add-ons_Guide_57

[2018-02-01 21:10] micz commented on #66
Working on https://github.com/micz/ColumnsWizard/tree/th59

[2018-02-04 14:37] FranzMeyer opened #67 "not working with TB 52.6.0 on Mac OSX HighSierra 10.13.3"
i have installed the extension 6.0.4 (downloaded the XPI file, and install manually wtih the add-on manager), re-ordered the columns as i wanted, like Correspondant before subject, and then i save it , and apply it to my inbox, and nothing happen...
Thanks for considering and helping.
Franz

[2018-02-04 20:04] micz commented on #67
Dear Franz,

may you open the error console with CRTL+SHIFT+J, then do again what you described and send me the log to m@micz.it?

Thank you.

[2018-02-04 22:09] FranzMeyer commented on #67
hi,

thanks for your quick reply.

It seems the CTRL+SHIFT+J is not opening anything with me...

i am running a Macbook Pro with french keyboard fyi.

Can you explain me the exact process for juts reordering the columns,
then save the order selected and apply it to the mailbox ?
this is just to make sure i am doing the right things.

Also, if you can propose another option to open the error consol

[2018-02-05 07:36] micz commented on #67
Please try COMMAND+OPTION+J or in the "Tool menu", under "Develpoper tools", the "Error console".

To apply in the mailbox, just use the "Save columns as CW default" in the folder that has the right columns setup, then use the "Reset columns to CW default" in the folder with the wrong columns setup.

[2018-02-05 21:40] micz commented on #66
Fixed in https://github.com/micz/ColumnsWizard/commit/0fb401d07350b4c6ba73eabea527d8ee7240e364.

[2018-02-05 21:40] #66 closed

[2018-02-05 22:00] micz commented on #65
May you post here or send to m@micz.it a few screenshot describing the problem?
Please also add info about the Thunderbird version and your Operating System, thank you.

[2018-02-05 22:20] micz commented on #60
Please try version 6.1alpha2 from the beta channel. Thank you.

[2018-02-05 22:20] micz commented on #63
Please try version 6.1alpha2 from the beta channel. Thank you.

[2018-02-05 23:39] davidhedlund commented on #60
Sorry, I didn't find the link for 6.1alpha2, what is it?

[2018-02-06 06:08] micz commented on #60
https://addons.mozilla.org/en-US/thunderbird/addon/columnswizard/versions/beta

[2018-02-06 10:13] MemePortela commented on #65
![ashampoo_snap_2018 02 06_08h31m59s_002_](https://user-images.githubusercontent.com/32059442/35853748-4f74f382-0b26-11e8-8f86-1b0fe3294073.png)
![ashampoo_snap_2018 02 06_08h26m13s_001_](https://user-images.githubusercontent.com/32059442/35853750-4f9569be-0b26-11e8-8c7f-e6eeb4d578a8.png)

[2018-02-06 21:27] micz commented on #61
See #66.

[2018-02-06 21:30] micz commented on #64
If I have correctly understood, this is not a CW problem. If you add the emails to Thunderbird and after that add a new header to be shown in a column, you need to force Thunderbird to rescan that folder, using the repair folder command, to add the new header to its internal database.
Feel free to open again this issue if this not correct.

[2018-02-06 21:30] #64 closed

[2018-02-06 23:03] micz commented on #65
Are you using an IMAP account?
I tried it on Gmail via IMAP and the tags are kept, so the labels and colors are still there after the modification.

[2018-02-07 03:31] davidhedlund commented on #63
This is actually even worse in the beta release, see the screenshot. I filled the character "A" in every field just to show how the visibility differ in each field.

![screenshot from 2018-02-07 04 27 13](https://user-images.githubusercontent.com/6416073/35897091-cb17ad38-0bbf-11e8-815f-6423c9030e2d.png)

[2018-02-07 03:31] davidhedlund commented on #60
I can verify that the new version works. Let's close this issue when you have release the stable version.

Thank you.

[2018-02-07 03:33] davidhedlund commented on #61
I don't know why you opened an identical issue for this. Can you please explain?

[2018-02-07 03:40] davidhedlund commented on #64
I'd prefer CW to automatically ask with a popup "You re-scan that folders for CW headers to show up in your new account: OK, Cancel"

What do you think about it?

[2018-02-07 03:42] MemePortela commented on #65
Yes IMAP but not gmail. Thunderbird

Meme Portela
Enviado desde mi iPhone

[2018-02-07 03:49] davidhedlund commented on #66
You might be interested in a issue I started 5 months ago: [Add support for WebExtensions](https://bugzilla.mozilla.org/show_bug.cgi?id=1396172)

[2018-02-08 06:38] micz commented on #61
Because Thunderbird is not going to implement WebExtensions, but is only asking developers to add some modifications to their addons to be compatible to Thunderbird 57+, as described here: https://wiki.mozilla.org/Thunderbird/Add-ons_Guide_57

[2018-02-08 06:38] micz commented on #66
See my comment here: https://github.com/micz/ColumnsWizard/issues/61#issuecomment-364016910

[2018-02-08 06:49] micz commented on #65
May you check on your webmail if you see yours tags/labels present in Thunderbird?

Maybe the problem is that Gmail IMAP (and also Zimbra) stores the tags/labels on the server, but other IMAP servers don't, so I need a way to keep track of them on the client side.
Thank you.

[2018-02-08 12:46] MemePortela commented on #65
I think that's exactly what happens.

Thank you very much!!!

2018-02-08 6:49 GMT+00:00 Mic <notifications@github.com>:

[2018-02-08 21:07] davidhedlund commented on #61
[Add support for WebExtensions](https://bugzilla.mozilla.org/show_bug.cgi?id=1396172)

[2018-02-09 22:57] micz commented on #63
Please try version 6.1alpha3 from here: https://addons.mozilla.org/it/thunderbird/addon/columnswizard/versions/beta

[2018-02-09 22:57] micz commented on #65
Please try version 6.1alpha3 from here: https://addons.mozilla.org/it/thunderbird/addon/columnswizard/versions/beta

[2018-02-11 20:45] micz commented on #60
Fixed in version 6.1.

[2018-02-11 20:45] #60 closed

[2018-02-11 20:57] #54 closed

[2018-02-12 09:17] MemePortela commented on #65
Don't work for my version of Thunderbird Version 52.6.0

2018-02-09 22:57 GMT+00:00 Mic <notifications@github.com>:

[2018-02-12 21:26] micz commented on #65
I mistyped a reference, sorry.
Please try version 6.1alpha5 from the beta channel. Thank you.

[2018-02-12 21:33] micz commented on #62
Merging the two tabs it's not a viable option, since the window would become too big.
What if I add the checkbox on the general tab and rename the advanced tab to something like "Editing"?
If a user enables the checkbox but do not use the advanced tab, he could edit the header as free text.
I could implement this in version 6.1.
Thank you.

[2018-02-14 08:36] MemePortela commented on #65
Its the same. lost label and colour

Thanks
Regards

2018-02-12 21:26 GMT+00:00 Mic <notifications@github.com>:

[2018-02-15 22:13] micz commented on #65
If possible, I need your help, since that version works fine in my test environment.
I've released version 6.1alpha6 that adds some useful logs.

You need to activate the debug system from the advanced tab in the preference, here:

![image](https://user-images.githubusercontent.com/61795/36283600-4db93036-12a5-11e8-96e5-ee443d93d60b.png)

After that, please, change the header in one mail and send

[2018-02-15 22:14] micz commented on #67
Issue closed, feel free to open it again if needed.

[2018-02-15 22:14] #67 closed

[2018-02-15 22:22] micz opened #68 "Editable custom column modify type"
When modifying an already defined custom column, it's editable type is always set to free text.

[2018-02-16 08:59] MemePortela commented on #65
Se esperaba una declaración, pero se encontró '!'.  Ignorado hasta la
siguiente declaración.  quicknote-button.css:10:42
unreachable code after return statement[Saber más]  quicknote.js:869
El uso de eventos Mutation está desaprobado. Use en su lugar
MutationObserver.  calendar-widgets.xml:506:18
Propiedad desconocida '-moz-box-shadow'.  Declaración rechazada.
note.css:36:19
ColumnsWizard >>> 8:55

[2018-02-16 09:21] micz commented on #65
Is there nothing else after those lines?
I don't see the commands used with an IMAP server to set the flags and the labels.
Thank you.

[2018-02-16 09:24] MemePortela commented on #65
If I am checking that it works in the inbox and when it does not work it
is in the local folders.

2018-02-16 9:21 GMT+00:00 Mic <notifications@github.com>:

[2018-02-16 09:25] micz commented on #65
Ok, I'll check it. Thank you.

[2018-02-16 11:42] MemePortela commented on #65
Error in the inbox

          Se esperaba una declaración, pero se encontró '!'.  Ignorado
hasta la siguiente declaración.  quicknote-button.css:10:42
unreachable code after return statement[Saber más]  quicknote.js:869
El uso de eventos Mutation está desaprobado. Use en su lugar
MutationObserver.  calendar-widgets.xml:506:18
Propiedad desconocida '-moz-box-shadow'.  Declaración rechazada.
note.cs

[2018-02-16 11:45] micz commented on #65
"error" is the label name?
It worked in the inbox?

[2018-02-16 11:48] MemePortela commented on #65
NO, the label name is "Estado"
Yes in the inbox

2018-02-16 11:45 GMT+00:00 Mic <notifications@github.com>:

[2018-02-16 11:50] micz commented on #65
Are you using an addon to manage labels?

[2018-02-16 11:52] MemePortela commented on #65
The attached file show my addons

2018-02-16 11:50 GMT+00:00 Mic <notifications@github.com>:

[2018-02-16 14:42] micz commented on #65
There is no attachment.

[2018-02-16 15:12] MemePortela commented on #65
Can you see this down

Meme Portela
Enviado desde mi iPhone

[2018-02-16 15:13] MemePortela commented on #65
I attach but i can see in The email but not here

[2018-02-16 15:16] micz commented on #65
You have to post it directly on the github site, not via email.

[2018-02-16 15:30] MemePortela commented on #65
From mi phone not show how to attach. Only text

[2018-02-16 15:32] MemePortela commented on #65
Do you have a email where i can send you

[2018-02-16 15:36] micz commented on #65
m@micz.it Thank you

[2018-02-19 12:18] MemePortela commented on #65
![ashampoo_snap_2018 02 16_11h52m06s_005_](https://user-images.githubusercontent.com/32059442/36377384-eb034752-156e-11e8-8bbb-543e9f1a8f46.png)
Now I can!!!

[2018-02-19 13:34] MemePortela commented on #65
![ashampoo_snap_2018 02 16_11h52m06s_005_](https://user-images.githubusercontent.com/32059442/36377384-eb034752-156e-11e8-8bbb-543e9f1a8f46.png)
Now I can!!!

[2018-02-19 14:16] micz commented on #65
Why have you closed the issue? Is this problem fixed in the last beta version I released?
Thank you.

[2018-02-19 14:35] MemePortela commented on #65
No, I'm sorry, I speak Spanish and I have to translate into English, I have to touch the wrong button.

[2018-02-22 00:04] davidhedlund commented on #63
That did the trick!

![screenshot from 2018-02-22 01 03 25](https://user-images.githubusercontent.com/6416073/36512786-467fc3c2-176c-11e8-8387-800772fe93fb.png)

[2018-02-22 20:10] micz commented on #63
Fixed in 6.1.
Thank you.

[2018-02-22 20:10] #63 closed

[2018-02-22 20:12] davidhedlund commented on #63
Dito.

[2018-02-22 20:26] davidhedlund commented on #59
@micz Thank you for adding this to the 6.1 milestone.

[2018-02-22 20:28] davidhedlund commented on #62
I like that idea.

[2018-02-22 20:30] micz commented on #62
Ok, I'll add this on 6.1.

[2018-02-22 20:32] davidhedlund commented on #62
You have almost fixed all issues that I've submitted. I must confess that I'm impressed about your productivity.

[2018-02-22 20:33] micz commented on #65
I tried everything on my test environment and it always works on IMAP or Local folders.
Also it's very strange the behavior that shows that "error" message on the labels list. That value is given by a native Thunderbird function, and I can't do anything about it.
I checked also your addons, but I can't tell if one of them is messing with labels.

The last thing is the log. In your log are missing

[2018-02-22 20:36] micz commented on #62
It took a long time, but I hope to release 6.1 soon.
This a free-time project, and as you've seen, sometimes there is not enough free-time.
Thank you for your long time commitment to this addon.

[2018-02-22 20:43] davidhedlund commented on #65
I think it would help if you give him the download link as you did for me.

[2018-02-22 20:46] davidhedlund commented on #65
@MemePortela You can find the alpha version micz refers to at https://addons.mozilla.org/en-US/thunderbird/addon/columnswizard/versions/beta

[2018-02-22 20:47] davidhedlund commented on #65
@MemePortela https://addons.mozilla.org/en-US/thunderbird/addon/columnswizard/versions/6.1alpha6 to be exact.

[2018-02-23 10:33] MemePortela commented on #65
Se esperaba una declaración, pero se encontró '!'.  Ignorado hasta la
siguiente declaración.  quicknote-button.css:10:42
unreachable code after return statement[Saber más]  quicknote.js:869
El uso de eventos Mutation está desaprobado. Use en su lugar
MutationObserver.  calendar-widgets.xml:506:18
Propiedad desconocida '-moz-box-shadow'.  Declaración rechazada.
note.css:36:19
ColumnsWizard >>> 10:2

[2018-02-23 10:39] MemePortela commented on #65
click in Error Parsing ICS: 2152333568 <(215)%20233-3568>
calIcsParser.js:139:25

DEPRECATION WARNING: The arguments you're passing to viewSource.xul are
using an out-of-date API.
You may find more details about this deprecation at:
https://developer.mozilla.org/en-US/Add-ons/Code_snippets/View_Source_for_XUL_Applications
chrome://global/content/viewSource.js 329 _loadViewSourceDeprecated
chrome:/

[2018-02-25 14:37] micz commented on #65
I've released version 6.1alpha7, with more debug info.
You should now find something like that:

[code]

Please try this version and post here the log from the error console.
Thank you.

[2018-02-26 08:47] MemePortela commented on #65
Se esperaba una declaración, pero se encontró '!'.  Ignorado hasta la
siguiente declaración.  quicknote-button.css:10:42
unreachable code after return statement[Saber más]  quicknote.js:869
El uso de eventos Mutation está desaprobado. Use en su lugar
MutationObserver.  calendar-widgets.xml:506:18
Propiedad desconocida '-moz-box-shadow'.  Declaración rechazada.
note.css:36:19
ColumnsWizard >>> 8:46

[2018-02-26 08:54] MemePortela commented on #65
The last email was for local folders
And this is for IMAP inbox

Se esperaba una declaración, pero se encontró '!'.  Ignorado hasta la
siguiente declaración.  quicknote-button.css:10:42
unreachable code after return statement[Saber más]  quicknote.js:869
El uso de eventos Mutation está desaprobado. Use en su lugar
MutationObserver.  calendar-widgets.xml:506:18
Propiedad desconocida '-moz-box-shado

[2018-02-26 08:56] micz commented on #65
Is there nothing in the log after the

`miczColumnsWizard_MsgUtils.init miczColumnsWizard_MsgUtils.msgHdrGetTags: cedentes`

line?

[2018-02-26 08:58] MemePortela commented on #65
No, I copy all lines

2018-02-26 8:56 GMT+00:00 Mic <notifications@github.com>:

[2018-02-26 09:01] MemePortela commented on #65
![ashampoo_snap_2018 02 26_09h00m23s_001_](https://user-images.githubusercontent.com/32059442/36661587-91b85a06-1ad3-11e8-8e0e-163d21922d6c.png)

[2018-02-26 13:52] davidhedlund commented on #59
Thanks.

[2018-02-26 21:33] #62 closed

[2018-02-26 21:33] #68 closed

[2018-02-26 21:37] micz commented on #65
This is really strange.
I've released version 6.1alpha8 with more logs, hopefully we should understand where is the problem.
May you try it and post the logs?
Thank you.

[2018-02-26 22:20] micz commented on #62
You can try new feature this in version 6.1alpha8.

[2018-02-26 22:21] micz commented on #59
You can try new feature this in version 6.1alpha8.

[2018-02-27 03:19] davidhedlund commented on #59
I'm stuck on this step

I cannot add any text at all now.

[2018-02-27 03:28] davidhedlund commented on #62
Tried it.

* Can you please enable this by default so columns can be edited?:

Most new users of your add-on won't have any clue that this option has to be enabled for them to edit columns.

[2018-02-27 06:08] micz commented on #59
May you post a screenshot to explain the issue you're facing?
Thank you.

[2018-02-27 07:33] micz commented on #62
Editing a mail header it's not a common task. Enable it for non tech users could be dangerous.
I think that a user that knows what a mail header is, will find how to enable it.

[2018-02-27 08:29] MemePortela commented on #65
Inbox --------------------------------------
![ashampoo_snap_2018 02 27_08h25m18s_001_](https://user-images.githubusercontent.com/32059442/36718036-425b6e7e-1b98-11e8-809b-0724dd83285d.png)

Local Folder -------------------------------
![ashampoo_snap_2018 02 27_08h26m32s_002_](https://user-images.githubusercontent.com/32059442/36718064-6087ead0-1b98-11e8-8a46-c7a24294060f.png)

[2018-02-27 11:40] davidhedlund commented on #62
Isn't this the purpose with your add-on?

[2018-02-27 18:15] davidhedlund commented on #59
I updated my comment https://github.com/micz/ColumnsWizard/issues/59#issuecomment-368733814

You can delete your comment https://github.com/micz/ColumnsWizard/issues/59#issuecomment-368758462

[2018-02-27 18:46] davidhedlund opened #69 "CW Header Edit doesn't work for ID's with a single letter"
# Works

## Single number
* ID: 1
* Mail Header: 1
* Column Name: ID with a single number
* Tooltip: ID with a single number
* Advanced: Check "This mail message header can be manually modified."

Try to edit:
* Show the column in the mails
* Click on "CW Header Edit" -- The text is added when I click on OK

## Dual letters
* ID: aa
* Mail Header: aa
* Column Name: ID with dual letters
* Tooltip:

[2018-02-27 22:08] micz commented on #69
What do you mean with "doesn't work"?
I added these three kinds of custom columns without any problem.

[2018-02-27 22:10] micz commented on #62
I created this addon at the beginning to set a default columns layout for new folders. Than people asked for new features, like new columns on custom mail headers or (you ;-) ) mail header editing capability.
I added those features because I felt that they were useful for the purpose of this addon.

[2018-02-27 22:13] micz commented on #65
From the logs everything seems correct. I'm sorry I really can't understand what's happening on your system.
Have you tried this without any other addon?
Thank you for your patience.

[2018-02-27 22:17] micz commented on #59
When you are trying to remove the text do you see this check?

![image](https://user-images.githubusercontent.com/61795/36758285-4c2222dc-1c14-11e8-9f15-82c32f3167e7.png)

May you post your logs with the debug system active?
Thank you.

[2018-02-27 22:24] davidhedlund commented on #69
I updated the issue by providing more steps.

[2018-02-27 22:26] davidhedlund commented on #62
Ah, now I remember. You are right. I'd just like more people to use this feature and to do that some sort of hint should be added.

[2018-02-27 22:31] davidhedlund commented on #59
Unfortunately not.

icedove -debug didn't output anything. What should I do instead?

[2018-02-27 22:37] micz commented on #59
On Thunderbird you should press CTRL+SHIFT+J.
To activate the debug system, please read here: https://github.com/micz/ColumnsWizard/issues/65#issuecomment-366079293
Thank you.

[2018-02-27 22:48] davidhedlund commented on #59
Thanks. The debug log didn't show anything because nothing happened. The progress bar didn't show up as I described in https://github.com/micz/ColumnsWizard/issues/59#issuecomment-368733814

[2018-02-27 22:49] micz commented on #69
I can't replicate the problem. In my installation all is correctly saved.
May you post your logs, as described here: https://github.com/micz/ColumnsWizard/issues/59#issuecomment-369052186 ?
Thank you.

[2018-02-27 22:50] micz commented on #59
Have you activated the debug system? Log info are printed even when the menu is opened.
Thank you.

[2018-02-27 22:57] davidhedlund commented on #59
Yes

Then I hit Ctrl+Shift+F2

Then I tried to delete text:
* CV Header Edit -> Foo -> tried to remove "Bar"

But I don't even see the menu you mentioned in https://github.com/micz/ColumnsWizard/issues/59#issuecomment-369046675

[2018-02-27 23:01] micz commented on #59
I meant the debug system of my addon from the preference panel.

![image](https://user-images.githubusercontent.com/61795/36760275-7a43730e-1c1a-11e8-93fe-1fb464abda4d.png)

The menu I posted is for the test environment I use, where I added an editable custom column named "test_Name3", with three "fixed list" values "prova1, prova2, prova3".

[2018-02-27 23:09] davidhedlund commented on #59
I deleted my profile directory. Can you please provide me **exact** steps from scratch?

[2018-02-27 23:15] davidhedlund commented on #69
We're lucky, I could not reproduce this issue in a (yet another) fresh profile.

[2018-02-27 23:15] #69 closed

[2018-02-28 08:14] micz commented on #69
Ok, thank you.

[2018-02-28 22:31] micz commented on #59
**1. Add a fixed list editable custom column**
* ID: fltest
* Mail Header: fltest
* Column Name: FL Test
* Tooltip: Fixed List Test
* Editable: Check "This mail message header can be manually modified."

**2. Editing TAB**
* Header Type: choose Fixed List
* In the text box insert these three lines:
  * Apple
  * Orange
  * Banana

**3. Save the custom column**
**4. Show the custom column in a fold

[2018-03-01 03:16] davidhedlund commented on #59
Thank you for taking your time with screenshots and everything. I appreciate that.

* Numbers: It's possible to add **but not** to remove text
* Free text: It's possible to add **but not** to remove text
* Fixed list: It's possible to add **and** remove text

[2018-03-01 21:31] #59 closed

[2018-03-01 21:35] micz commented on #59
You can try this fix in version 6.1alpha9.

[2018-03-01 21:43] davidhedlund commented on #59
Finally fixed. Just to verify:
* Numbers: It's possible to add **and** remove text
* Free text: It's possible to add **and** remove text
* Fixed list: It's possible to add **and** remove text

Thank you very much.

[2018-03-01 22:05] davidhedlund commented on #56
I cannot add comments in https://github.com/micz/ColumnsWizard/issues/52

[2018-03-01 22:10] flyingzebras commented on #52
Test

[2018-03-01 22:12] flyingzebras commented on #52
Test comment.

[2018-03-01 22:12] davidhedlund opened #70 "Comment issue on #52"
I cannot add comments in https://github.com/micz/ColumnsWizard/issues/52 with my user davidhedlund, not even from a fresh browser profile. My friend flyingzebras could comment though.

This is so weird. Can you please have a look?

[2018-03-01 22:15] micz commented on #70
I see nothing different on that issue than any other. What error do you see?

[2018-03-01 22:17] davidhedlund commented on #70
No error at all. The "Leave comment" field is blanked when I hit the Comment button as it is supposed to but not text is posted.

[2018-03-01 22:19] micz commented on #70
I'm sorry I can't help you, maybe you could contact the github support.

[2018-03-01 22:21] davidhedlund commented on #70
Yes, I emailed them. Thanks.

[2018-03-01 22:23] #70 closed

[2018-03-01 22:24] davidhedlund commented on #70
My "friend" flyingzebras is my secret account. What I wanted to comment on https://github.com/micz/ColumnsWizard/issues/52 was this:

 I will delete this comment.

[2018-03-01 22:57] davidhedlund commented on #70
Is it hard to solve that issue?

[2018-03-03 23:18] davidhedlund commented on #70
Test

[2018-03-06 08:24] davidhedlund commented on #70
I emailed the the comment issue on https://github.com/micz/ColumnsWizard/issues/52 with specific details to the GitHub staff and this is what they responded:

[2018-03-06 09:55] micz commented on #70
I did nothing on that issue. If you forward to m@micz.it their answer, I'll email them directly.

[2018-03-06 10:03] davidhedlund commented on #70
Done.

[2018-03-06 10:50] micz commented on #70
I wrote to github support.

[2018-03-12 20:25] micz commented on #65
I'm closing this issue. I'm sorry I wasn't able to replicate the problem.
I'm going to release version 6.1. Once released, if you find new information about this problem and need more help, feel free to open a new issue.

[2018-03-12 20:25] #65 closed

[2018-03-12 21:21] micz opened #71 "Add Thunderbird 60 compatibility"
See https://wiki.mozilla.org/Thunderbird/Add-ons_Guide_57#Removed_and_changed_in_mozilla59

[2018-04-18 04:40] NilsNemitz commented on #43
Is this still coming as a feature? Or is it there and I missed it?
I find ColumnsWizard to be a nice way to store and synchronize searchable comments to emails. But a few less clicks per edit would be very nice!

[2018-05-10 07:30] LeeteqXV opened #72 "Alternative Sender + Recipients column showing the email address(es) instead of display names"
Feature Request (TB v.52):
In particular in case of new, undetected spam, it would be very practical with the possibility to see exactly which email address an email was sent from (with a right-click option to copy that address without opening the email), and to see exactly which of my email addresses that email was sent TO (also with right-click option).

Main point being that such "suspicious" e

[2018-05-10 07:33] LeeteqXV commented on #72
(PS. This FR is about 2 columns, one for Senders, another for Receivers. Preferably also the ability to distinguish and put separate columns for To and CC showing email addresses instead of display names.)

[2018-07-09 06:36] readonly24 opened #73 "Value not shown in mail list"
Hi, I have created a special column called "X-PO". I can edit it, and the new header is written into the mails header. Also I can search (and find) the text using Ctrl-Shift-F, but the text is not shown in the X-PO-column of the mail list. Can you please help?

Tested with CW 6.1, Thunderbird 38.7.2 and 52.9.0

![xpo](https://user-images.githubusercontent.com/36458356/42434208-8bf26110-8352-11e8-9

[2018-07-13 12:40] readonly24 commented on #73
I add another screenshot, maybe this makes it more clear.

![1](https://user-images.githubusercontent.com/36458356/42692057-9cfdda24-86aa-11e8-8d5d-6bc26e5d9503.png)

[2018-07-24 07:18] readonly24 commented on #73
Can someone help, please?

[2018-08-07 07:42] readonly24 commented on #73
Anybody here or is this extension abandoned?

[2018-08-28 19:20] micz commented on #73
In a test folder, may you try to rebuild the index of the folder?
If you open the error console (CRT+SHIFT+J) there are any error messages?

[2018-08-29 12:12] readonly24 commented on #73
Hello micz,

thanks for your help. Rebuilding the index does not help, the error console showns nothing related to ColumnsWizard.

But I respect your descission to suspend the addon developemt, so you don't have to spend any time on this issue.

[2018-10-13 07:37] vrillusions commented on #73
In case this helps you or anyone else I was having a similar issue.  For me the header was `X-VR-SCORE`.  When added like that it didn't display.  I then recreated the custom column as `x-vr-score` (all lowercase).  I read somewhere that internally the values are stored all lowercase.  So my guess is it was trying to show `X-VR-SCORE` which didn't exist but `x-vr-score` does.

[2019-02-09 00:43] cleidigh opened #74 "Volunteer for added owner to continue updating ColumnsWizard?"
@micz
Hello !  I have enjoyed using your add-on for sometime.  I am working to help update various add-ons to continue the great Thunderbird.

Would you like to add me as an owner so I could continue to update your add-on?  I could also clone and continue it with a modified ID.

Thanks.
Christopher

[2019-02-09 06:20] micz commented on #74
Dear Christopher,

I would be pleased to let you help me with this addon, may you reach me at m@micz.it?
Thank you!

Mic

[2019-02-09 06:20] #74 closed

[2019-02-24 06:02] cleidigh opened #77 "Format source to JS common norms"
Use eslint and formatter

[2019-02-27 00:25] cleidigh opened #79 "Reformat code to JSCommon"
Use eslint to detect and reformat

[2019-03-04 07:40] cleidigh opened #81 "Release v6.1.1 - Tasks"
- [x] Optimize eslint rules
- [x] Reformat
- [x] Edit warnings - be cautious
- [x] Change license and release notes URLs
- [x] Utilize C* for globals
- [x] Update zh-CN locale
- [x] Update readme and change log

[2019-03-07 04:37] cleidigh commented on #79
Duplicate

[2019-03-07 04:38] #79 closed

[2019-03-07 04:39] cleidigh commented on #77
Addressed with PR: #82

[2019-03-07 04:39] #77 closed

[2019-03-07 04:40] cleidigh commented on #71
Addressed by PR: #82

[2019-03-07 04:40] #71 closed

[2019-03-07 05:25] cleidigh commented on #81
Addressed with PR: #83

[2019-03-07 05:25] #81 closed

[2019-03-07 05:28] cleidigh commented on #73
@readonly24
@vrillusions
We are not suspended !  We are alive and moving forward 👍

[2019-08-22 09:12] MishSli opened #84 "Display, editing non-Latin characters"
Hi!
Added column "note", isEditable = true, Free text. I write down the text in Cyrillic. But it is displayed in a "raw" format. At the same time, searching for messages in the "note" column works fine. If I try to edit the text, I get a "raw" format.

![img](https://user-images.githubusercontent.com/54395077/63502288-efb1dd00-c4d5-11e9-8855-0dd7e4bed871.png)

[2019-09-08 05:12] BillH99999 opened #85 "Doesn't work in Thunderbird 68.0"
The extension does not appear to work in Thunderbird 68.0.  Is there any plan to update it so it will work?

Thanks,
Bill

[2019-10-04 09:48] aostlender opened #86 "apply columns in all folders and subfolders stops after 2-3 folders"
Hi,
Columnswizard Version 6.1.2 - 7/03/2019
mbox-format
Thundebird 60.9 64 bit, linux

apply columns to folder and its children stops working after 2-3 folders.
AND "forgets" formatting after some time (maybe due to systems crashes).
i am not able to fix this issue myself, but would like to !
If anyone can assist me / support me, i would be happy.
Thanks
Andreas

[2019-10-22 08:19] kanlukasz opened #87 "Not working with 68.1.2"
Not working with 68.1.2

[2019-12-05 15:59] aostlender opened #88 "CW seems to forget custom columns after some days"
regularly folders customized with CW forget their columns and restore to firefox defaults.
This happens after a period of some days with folders in maildir and in mbox format.
I do not have the expertise to give more facts / information. Sorry for that.
Any help is welcome.
Please ask if any further info is requested.
CU
Andreas

[2020-03-11 14:31] SergeLalonde commented on #87
Is there any chance that this add-on will be updated for version 68.*?

[2020-03-11 14:32] SergeLalonde commented on #85
Is there any chance that this add-on will be updated for version 68.*?

[2020-04-20 13:48] alphatonic commented on #87
Yes, please update this awesome add-on. Thunderbird is kinda crappy without it.

[2020-05-03 23:47] davidhedlund commented on #87
https://addons.thunderbird.net/en-US/thunderbird/addon/columnswizard/versions/?page=1#version-6.1.2
* Doesn't work with 68.0 when I tested it.
* Worked with 60.9.1 (this is the next stable version after version 68.0) when I tested it.

I think you want to modify [manifest.json](https://github.com/micz/ColumnsWizard/blob/master/src/manifest.json)

to

and re-upload https://addons.thunderbird.net/th

[2020-05-03 23:52] davidhedlund commented on #85
https://addons.thunderbird.net/en-US/thunderbird/addon/columnswizard/versions/?page=1#version-6.1.2
* Doesn't work with 68.0 when I tested it.
* Worked with 60.9.1 (this is the next stable version after version 68.0) when I tested it.

I think you want to modify [manifest.json](https://github.com/micz/ColumnsWizard/blob/master/src/manifest.json)

to

and re-upload https://addons.thunderbird.net/th

[2020-05-03 23:55] davidhedlund opened #89 "CW 6.1.2: Incorrect strict_max_version"
https://addons.thunderbird.net/en-US/thunderbird/addon/columnswizard/versions/?page=1#version-6.1.2
* Doesn't work with 68.0 when I tested it.
* Worked with 60.9.1 (this is the next stable version after version 68.0) when I tested it.

I think you want to modify [manifest.json](https://github.com/micz/ColumnsWizard/blob/master/src/manifest.json)

to

and re-upload https://addons.thunderbird.net/th

[2020-05-03 23:56] davidhedlund commented on #87
https://github.com/micz/ColumnsWizard/issues/85

[2020-05-03 23:56] davidhedlund commented on #85
https://github.com/micz/ColumnsWizard/issues/87

[2020-05-03 23:56] davidhedlund commented on #87
https://github.com/micz/ColumnsWizard/issues/89

[2020-05-03 23:56] davidhedlund commented on #89
https://github.com/micz/ColumnsWizard/issues/87

[2020-05-04 00:06] davidhedlund commented on #61
With the release of Thunderbird 68 in August 2019 it now only supports WebExtension addons. - https://www.thunderbird.net/en-US/thunderbird/68.0/releasenotes/

[2020-05-04 00:06] davidhedlund commented on #61
Can you please re-open this issue @micz ?

[2020-05-04 00:12] davidhedlund commented on #85
This issue is a duplication of: [Convert ColumnsWizard to a WebExtension to support Thunderbird 68](https://github.com/micz/ColumnsWizard/issues/61)

Can you please close it?

[2020-05-04 05:31] kanlukasz commented on #87
I saw this but it's all chaotic and I'm confused.
Is it finally know whether it will work or not?

To be honest, I haven't seen any author activity for a long time
Probably it's another great but dead project

[2020-05-04 14:58] twoatechguy commented on #89
Where is there a version 61?  https://www.thunderbird.net/en-US/thunderbird/releases/

[2020-05-04 15:14] davidhedlund commented on #89
There is no such version.

[2020-05-04 15:20] twoatechguy commented on #89
So where is the concern? Is 60.9.1 < 61?  Yes? Then it works.

[2020-05-04 15:42] davidhedlund commented on #89
Oh sorry you are right. I was tired when I submitted this issue. I think I got confused by the text at https://addons.thunderbird.net/en-US/thunderbird/addon/columnswizard/versions/?page=1#version-6.1.2:

[2020-07-09 21:02] cleidigh opened #90 "v7.0.0 Release Tasks & Status"
Current Beta:  https://github.com/micz/ColumnsWizard/blob/v7.0.0/xpi/columnswizard-7.0.0-b18-tb.xpi
Release: v7.0.0

Status:
- sort type/ order preference - Fixed!
- header Editor - fixed - including submenus
- All locales + Japanese  Spanish
- functionally complete

Current Work:

- track beta new problems
- cleanup Debug
- cleanup UI

Initial Fixup Tasks:

- [x] - Update module imports - var { x

[2020-07-09 21:12] cleidigh commented on #87
@kanlukasz
@alphatonic
I am now going full bore on this as well as positioning for 78 !
Track  status in #90
Also , I have b2 minimally working
https://github.com/micz/ColumnsWizard/tree/v7.0.0/xpi
Grab the latest 7.0.0-bx

Christopher

[2020-07-09 21:14] cleidigh commented on #85
@BillH99999
@davidhedlund
@SergeLalonde
@micz

I am now going full bore on this as well as positioning for 78 !
Track  status in #90
Also , I have b2 minimally working
https://github.com/micz/ColumnsWizard/tree/v7.0.0/xpi
Grab the latest 7.0.0-bx

Christopher

[2020-07-09 21:22] cleidigh commented on #89
All
working on the next 68 compatible version, I going to punt on any other changes the moment.
closing unless I am missing something?
Christopher

[2020-07-09 22:42] davidhedlund commented on #87
@cleidigh Thank you for your hard work!!

When will it appear on AMO?

[2020-07-09 23:38] twoatechguy commented on #87
I appreciate the hard work too, but since it's in beta and doesn't work to define or edit columns, it's premature to have it on the addons site.

[2020-07-10 00:03] cleidigh commented on #87
@twoatechguy  you are correct, I will only posted on AMO once it's ready.
While it is currently b2 it's working progress .
I will post a status in #90 and describes a current level of usage for those who want to test and/or use early.
@cleidigh

[2020-08-05 16:03] PissedFirefoxUser commented on #90
Chris,
Tested b10, found NO flaws! It looks good to go!
1) I created a new test folder, test folder1.
2) I dragged existing columns around and set as new CW default.
3) Created test folder2.
4) Confirmed test folder2 was created exactly as per my new CW default.
5) I dragged folders around in test folder2.
6) I reset columns in test folder2 back to existing CW default.
7) Went back to test folder1

[2020-08-05 17:28] cleidigh commented on #90
@PissedFirefoxUser
excellent!  that bug annoyed me.
still have a lot to go for the remaining features, however, I think the core functionality
is quite usable.
have to get each of the lists to cross update, current the recently enabled custom entries
don't show up in the default list without closing/reopening
have to convert the other parts of the UI
and lots of cleanup
the new feature you mention

[2020-08-19 06:26] cleidigh opened #91 "ColumnsWizard for TB68 v7.0.0-b18 Beta testing"
I know it's taken longer than I would have Liked...

Now some testing help would be great, b14 is functionally complete , localized (including the new Japanese locale)
I will get this released this  as soon as I get Decent Feedback

All:  Any testing help would be great especially non- Windows platforms.
If you do not have time I totally understand, hoping to release a few days.

https://github.co

[2020-08-19 20:08] cleidigh commented on #87
All::
Final Beta b14 is ready for testing
Please follow/help with #91
Thanks
Christopher

[2020-08-19 22:13] micz commented on #91
I tested b14 and sent you an email with a few notes.
Thank you for your work!

[2020-08-20 11:15] kanlukasz commented on #91
I'm starting to test.
Is it possible to create a column containing the original recipient/sender email address ?
I mean pure email address, not "friendly name"

[2020-08-20 12:55] micz commented on #91
@kanlukasz It's possible to create a custom column only if there is a mail header with that information. In this case the from/to field contains the complete "name + address".
So I think it's not possible without adding a new hardcoded column that stores only the address.

[2020-08-21 04:20] cleidigh commented on #91
Current Issues:
- Custom columns missing from header editor-regression
- Tab title tooltips require creative CSS - currently a challenge

[2020-08-26 01:11] paulcrown commented on #91
I'm not sure what I am missing.  I am on Ubuntu 18.04.5, TB 68.10.0 64-bit.  Everything is working, except: the column contents in the message list are blank.  I have tried b14 and b15.

I love the concept of the addon.  Can you point me in the right direction to what may be missing?

Thanks.

![custom-column](https://user-images.githubusercontent.com/8922235/91243103-c510ea80-e70e-11ea-8741-a920e

[2020-08-26 01:55] cleidigh commented on #91
@paulcrown
I have to be honest I have not had a chance to do testing off Windows.
Thanks for the post and testing.
I doubt that it will solve the problem but I just posted b16
https://github.com/micz/ColumnsWizard/blob/v7.0.0/xpi/columnswizard-7.0.0-b16-tb.xpi
it is possible that it will fix the issue, however, I may suggest
starting with default preferences in case there were any preference error

[2020-08-26 16:38] micz commented on #91
@paulcrown If everything works fine, the new column is filled for new messages received after the new configuration has been done (this is how Thunderbird works). You can force Thunderbird to fill that column using the "repair folder" function that forces Thunderbird to rebuild the index for that folder.
I suggest to test that function on a test profile or a small folder, because I don't know how

[2020-08-26 19:43] cleidigh commented on #91
@micz
Did I finally get your menu Working ?

[2020-08-26 21:01] micz commented on #91
The menus are working! 👍
I tested with success also:
- New folder default
- Header editing
- Saving and restoring the CW default columns
- Editing a custom column (also with the Mail Header Editor tab)

You're doing a great job! Thank you!! 🥇

[2020-08-26 21:20] paulcrown commented on #91
@cleidigh The error console shows your debug messages, but I don't see any errors.

![debug-console](https://user-images.githubusercontent.com/8922235/91356915-05777380-e7b6-11ea-83cb-581d22bac0a0.png)

@micz I found the Repair Folder option and tried it without any change (it looks like it deleted the .msf file and rebuilt it).  I am adding the custom header at the mailserver, so all new emails h

[2020-08-26 21:28] micz commented on #91
@paulcrown maybe this is the issue: https://github.com/micz/ColumnsWizard/issues/73#issuecomment-429519357

Also, I'm sorry I gave you a wrong advice, it's not the folder repair, but you need to force Thunderbird recreate the Global Index as described here: https://support.mozilla.org/en-US/kb/rebuilding-global-database
Try this option only if you're confident in what you are doing, because you co

[2020-08-26 21:32] micz commented on #73
@cleidigh May you force to be saved as lowercase the "Mail Header Field" in the custom column editor?

![image](https://user-images.githubusercontent.com/61795/91359175-53ab6780-e7f4-11ea-818a-910fa989b261.png)

[2020-08-26 21:45] paulcrown commented on #91
@micz The lowercase issue was the problem.  I did not realize that lowercase was required in the Custom Header definition.  I deleted my old definition in the column editor; added a new one with all lowercase for the Mail Header field, and immediately switched over to the message list with the column fully populated.  Thanks.

@cleidigh b16 all works fine on Ubuntu 18.04.5, TB 68.10.0 64-bit.

[2020-08-26 21:49] cleidigh commented on #91
@paulcrown
Excellent!!
@micz  indicated the lowercase might be the issue, but I have to clarify what is correct, should I convert all the headers lowercase if so how do I make sure Thunderbird does not expect uppercase?

[2020-08-26 21:58] micz commented on #91
@cleidigh I understood that Thunderbird is saving internally that header lowercase, so it needed to save that definition lowercase, otherwise the column is not populated.
I think it has to be fixed here https://github.com/micz/ColumnsWizard/blob/master/src/chrome/content/mzcw-settings-customcolseditor.js#L125

[2020-08-26 22:01] micz commented on #91
@cleidigh the dbHeader is saved lowercase internally by Thunderbird.
It has to be fixed here: https://github.com/micz/ColumnsWizard/blob/v7.0.0/src/chrome/content/mzcw-settings-customcolseditor.js#L133
It has to be checked why that toLowerCase seems to not be working.
I added the bug label to issue #73.

[2020-08-27 00:12] cleidigh commented on #73
@micz
I am bit confused.  it looks like at some point you commented out toLowercase for header
I restored that quote and it now , but I cannot really test it.  I cannot figure out how to set
the custom header for an outgoing e-mail.  I tried saving a new e-mail with the header as a draft
then sending it but it arrives without the header.
If you think that b17 is correct on this I will cleanup and

[2020-08-27 16:21] paulcrown commented on #48
I agree adding the custom columns in the account search messaged dialog would be helpful.

[2020-08-27 16:31] micz commented on #73
@cleidigh I tested b17 and the lowercase is working. I close this issue. Thanks.

[2020-08-27 16:31] #73 closed

[2020-08-27 16:31] micz commented on #91
@cleidigh b17 is working in regard to #73.

I found a bug when adding a new custom column.
When I add a custom column, the new column is added at the end of the list. If I select that column and click on the edit button, an empty new column dialog is opened.

It also happened twice that, clicking on a column and then on the edit button, nothing opens, but I was not able to recreate the problem.
I

[2020-08-27 16:32] micz commented on #91
b17 download link: https://github.com/micz/ColumnsWizard/blob/v7.0.0/xpi/columnswizard-7.0.0-b17-tb.xpi

[2020-08-27 17:50] cleidigh commented on #91
@micz 2
that is another reoccurring issue, next effort
Whenever you have a chance, if you can describe how to send an e-mail with custom headers that would help me for testing.

[2020-08-27 20:52] micz commented on #91
@cleidigh I added a wiki page with some instruction: https://github.com/micz/ColumnsWizard/wiki/Custom-Column-Header-Editor-Testing
Let me know if this is enough.

[2020-08-28 03:42] cleidigh commented on #91
@micz
I think I finally got the indexing and syncing for the Edit/Delete issues , but I did b18 just before crashing so I did not test a lot but I think sufficiently.  I will try to get them focused row in view next.
https://github.com/micz/ColumnsWizard/blob/v7.0.0/xpi/columnswizard-7.0.0-b18-tb.xpi
Christopher

[2020-08-28 19:40] micz commented on #91
Ok, the list works in b18, great!!

[2020-08-28 23:26] cleidigh commented on #91
Awesome
I am cleaning up and releasing
Also we have 16 locales now

[2020-08-29 12:40] #89 closed

[2020-08-29 23:40] cleidigh commented on #91
@micz
@paulcrown
@BillH99999
@kanlukasz

I have posted v7.0.0 for review!  the queue was almost empty so we they get approved quickly.
Thanks to everyone that you help testing, etc.
Cheers
Christopher

[2020-08-30 03:10] BillH99999 commented on #91
Thank you for updating the plugin and all the hard work you put into it.

Bill

[2020-08-30 21:15] cleidigh commented on #90
All
We are released!

[2020-08-30 21:19] cleidigh commented on #87
@davidhedlund
@alphatonic
@kanlukasz
@SergeLalonde
All
It's officially released!
thanks for all your patience
cheers
Christopher
https://addons.thunderbird.net/en-US/thunderbird/addon/columnswizard/?src=userprofile

[2020-08-30 21:20] #85 closed

[2020-08-30 21:20] cleidigh commented on #85
it's released!

[2020-08-30 21:21] #61 closed

[2020-08-30 21:28] cleidigh commented on #84
@MishSli
I will investigate this for the next point release.
For that I had to get out 68 first.
Christopher

[2020-08-30 21:43] #90 closed

[2020-08-30 21:45] #91 closed

[2020-08-30 21:47] cleidigh commented on #88
@aostlender
just-released v7.0.0
many changes for 68 that may fix this
if you can check check out
it is now listed
https://addons.thunderbird.net/en-US/thunderbird/addon/columnswizard/?src=userprofile
Christopher

[2020-08-30 21:49] #87 closed

[2020-08-30 22:01] davidhedlund commented on #87
Thank you once again, for the final release!

[2020-08-30 22:03] cleidigh commented on #87
@davidhedlund
ThanksForTheSupport!
let me know if you see any issues, lots of changes...
Christopher

[2020-08-31 06:57] micz commented on #33
Deprecated, as with Thunderbird 60+ XUL has been deprecated.

[2020-08-31 19:22] aostlender commented on #88
thanks a lot
i will try ;)

[2020-08-31 19:22] #88 closed

[2020-09-07 02:12] emja opened #93 "Config screen and columns no longer available"
TB 60.8.0 (64-bit)
CW 7.0.0

Subsequent to latest update of CW the defined columns have disappeared and the config screen is no longer available.

I've removed and reinstalled CW, no success.

[2020-09-09 03:00] cleidigh commented on #93
@emja

I have to check out 60 I may have missed compatibility issue
I may not be able to make it compatible with both
I did not add any new features just UI changes
60 is now 2 releases behind.  it's very hard to make things compatible
with the major changes going onk

if you don't mind me asking, what is blocking you from upgrading to 68?

[2020-09-10 07:45] hopalongrock opened #94 "TB 78 support"
I used CW on version 52, 60 and now on 68.
Is it possible to rewrite it to version 78?

Thanks

[2020-09-10 21:22] cleidigh commented on #94
@hopalongrock
I will be doing the update , but I need to do work on a couple other extensions first.

[2020-09-14 03:07] emja commented on #93
ok, that's fair.

I'd pinned at v60 because of a problem with another add-on. I don't remember the details, or even if it's still a legitimate issue, so I'll try upgrading to v68 and see how I go.

Thanks!

[2020-09-14 03:51] emja commented on #93
Righto, successfully upgraded to 68, and all addons work incl ColumnsWizard (most importantly!).

cheers!

[2020-09-14 03:51] #93 closed, assigned to cleidigh

[2020-09-25 06:58] jh20001 commented on #94
That's fantastic news. Looking forward to the update myself :)

[2020-10-23 15:52] BillH99999 commented on #94
@cleidigh

Christopher, just wondered if there was any guess on when you might be able to get around to this extension?  No hurry or anything, just wondering.

Thanks!
Bill

[2020-11-25 05:02] cleidigh opened #95 "ColumnsWizard - 68/78 Release/Status"
Latest Beta:  https://github.com/micz/ColumnsWizard/blob/v8.0.0/xpi/columnswizard-8.0.0-b6-tb.xpi

Status: b5 fixes menu removal , shutdown, custom c widths,first cleanup

- [x] Initial beta conversion
- [x] first pass for 78
- [x] post b2 - Windows 78/68 default columns
- [x] post b3 - fix custom columns
- [x] b4 - default, fixes, keep, column menu open
- [x] b5
- [x] b6
- [ ]

[2020-11-25 05:11] cleidigh commented on #94
@micz
@hopalongrock
@jh20001
@BillH99999
@talagrand
@SergeLalonde
@fenjen
@sengaya
@zertrin
@binarykitchen

All

I got a little time on this.
track and find the beta in #95
v8 b3  is fairly functional
any testing help 'will make things go faster!
Thanks
Christopher

[2020-11-25 05:29] BillH99999 commented on #94
Looks good.  I don't use any of the more advanced functionality, but I was able to save my CW defaults, modify my defaults,  restore my defaults, and create a new folder which used the defaults all without any problems.

Thanks so much for working on the plugin and converting it to work with TB 78.

Bill

[2020-11-25 05:37] cleidigh commented on #94
@BillH99999
excellent!!
Good beta feedback before I even finish my notification!
thanks for the quick response
doing my best to appreciate the comments!
Christopher

[2020-11-25 06:21] cleidigh commented on #86
@aostlender
sorry for the slow response
have you tried using v7.0.0?
Christopher

[2020-11-25 10:20] hopalongrock commented on #94
I use only Save Columns as / Reset Columns to CW default, and they work fine.

Thanks

Laszlo

[2020-11-26 18:48] Ircama commented on #94
Thanks a lot, it works!
I have just noticed that the "CC" column size is always reset after restarting Thunderbird, even if I use "Save Columns as default CW" before closing the app and after resizing the column (not sure that this is wanted, or it depends on this plugin, or it is standard behavior).

[2020-11-26 19:43] cleidigh commented on #94
@Ircama
thanks for the feedback! that's a weird one , the extension actually does not touch the column widths so the core must be doing something. I will try to reproduce.
cheers
Christopher

[2020-11-27 00:30] BillH99999 commented on #94
@cleidigh
I don't know what is going on, but now I'm having some problems.  I added the column Order Received by checking the box and now I can't get rid of it or any other previously selected column.  When I try to de-select a column, it changes the up/down arrows on the right to empty squares.

And when I try to add a new folder, the columns are not what is selected in the options.  It is not di

[2020-11-27 03:07] cleidigh commented on #94
@BillH99999
I'm not surprised because of all the tricks I have to do
I will try and reproduce
any output in the Console?
C

[2020-11-27 03:41] BillH99999 commented on #94
@cleidigh
I don't know if any of this is of any use, but these occurred while I was experiencing the problem.

16:25:39.576
[Exception... "Component returned failure code: 0x80520001 (NS_ERROR_FILE_UNRECOGNIZED_PATH) [nsIXPCComponents_Utils.readUTF8URI]"  nsresult: "0x80520001 (NS_ERROR_FILE_UNRECOGNIZED_PATH)"  location: "JS frame :: resource://gre/modules/L10nRegistry.jsm :: L10nRegistry.loadSyn

[2020-11-27 04:53] cleidigh commented on #94
@BillH99999
I can reproduce it, moving the columns is all messed up...
as far as the output above those are all errors from quick filters
maybe a good idea for later testing to disable that temporarily
C

[2020-11-27 04:59] BillH99999 commented on #94
@cleidigh,
I'm not sure what you mean by disabling quick filters.  I have a quick filter bar displaying, but I did not have any of them selected.  I've never really even used this quick filter bar.  How would I disable quick filters... just deselect it in the View menu?

[2020-11-27 05:01] cleidigh commented on #94
don't you have that other extension installed?
it would be under the add-ons

[2020-11-27 05:05] cleidigh commented on #94
nevermind, I see it's the built-in filter
lots of errors surprisingly
I know I have a problem,just wondering if there is also some interference
let's assume no for now
I can reproduce it so I can do testing

[2020-11-27 05:10] BillH99999 commented on #94
OK... let me know if I can do anything.

[2020-11-27 05:12] cleidigh commented on #94
thanks I will
happy T day if you celebrate it

[2020-11-28 14:53] nkgm-bs commented on #95
Hi,
i've found some issues with b3:

- When other add-ons add custom columns cw shows them with their id not with their label
- When selecting one of your added entries in the column picker menu the menu closes. Normal behaviour ist to stay open.
- When selecting a column in the 'special column' tab of your options, it can't be deselected. The options tab has to be closed and reopened to do this.

[2020-11-28 23:24] cleidigh commented on #95
@nkgm-bs
thanks for the testing and feedback!
these are very good points.  the beta is still pretty rough
for the variety of issues moving to 78,  moving columns is still messed up also
question
can you give me an example of one of the other extensions dealing with,columns
where you saw that issue?
Christopher

[2020-12-07 00:32] cleidigh commented on #94
I just posted b4
bunch of fixes for these lists having to do security issues
shut down is still incomplete
also cannot get custom columns size to be saved

[2020-12-07 01:08] BillH99999 commented on #95
I installed beta 4.  In initial testing it seems to work fine for me.  I only use saving and resetting of the default columns as well as using the default columns on new folders.  That seems to work fine.  I'll keep playing around to see what happens.

[2020-12-07 01:10] BillH99999 commented on #94
I installed beta 4.  In initial testing, this problem seems to be fixed.  I'll keep testing to see how things go.

Thanks,
Bill

[2020-12-07 01:19] cleidigh commented on #94
@BillH99999
you must have ESP!  super quick responses
the issues with moving columns in the list causing the arrows to disappear
Was one of the main issues I addressed,lots of internal quirks
Christopher

[2020-12-07 01:23] BillH99999 commented on #94
@cleidigh

Actually, I get an email when someone posts on the thread so I go out and see what it is about.  This time it was you announcing the new beta, so I downloaded and tested it right away.  😁

I should also add that I had no problems at all selecting or deselecting columns in the default column list.

Bill

[2020-12-07 02:03] cleidigh commented on #94
excellent
I still to figure out how to maintain the column size for custom columns

[2020-12-09 19:08] Binarus opened #96 "Core functionality (custom headers) doesn't work at all"
At first, thank you very much for that great add-on! It looks promising,

However, in its current state (beta 4), its core functionality fails in TB 78.5.1 (64 bit):

I have about 20000 messages in a folder which all contain the following two headers: `X-Bin-MAIL-FROM` and `X-Bin-RCPT-TO`.

Thunderbird shows these headers in the header area for each message, provided I have `View -> Headers -> All

[2020-12-15 04:59] cleidigh commented on #96
@Binarus
b4 definitely have several big problems with custom headers.
this is a major effort for 78 so it's a bit of a slog.
I am close to releasing b6 which is a big improvement , but I am still
working on several things.
in the process I will also check the things you noted
one thing you should know is that custom columns do not get populated
for e-mails already received. you have to reindex the

[2020-12-15 08:28] Binarus commented on #96
Thank you very much for the reply!

I did not know that I have to re-index received messages for the new headers to be populated. Out of curiosity: Did you document this somewhere? I believe that it would be very important to make users aware of it, because otherwise they believe that ColumnsWizard does not work, while in fact it works correctly.

I will now try to re-index the messages in questio

[2020-12-15 10:20] Binarus commented on #96
I now can confirm that ColumnsWizard works as expected, including custom headers, after I have re-indexed the messages.

This is absolutely great. Finally an addon which enables us to actually work with the headers which are added to incoming messages by our custom milters ...

I will now close the issue and mark it as solved because ColumnsWizard works correctly after re-indexing messages.

Best

[2020-12-16 00:45] cleidigh commented on #96
@Binarus
just posted b5 with a bunch of fixes
one fix is maintaining  custom, column widths
among other things
you are one of the few early testers using custom columns
feedback for any problems would be great!
cheers
Christopher

[2020-12-18 01:33] cleidigh commented on #95
@nkgm-bs
I believe b6 addresses each of the issues you mentioned
All
other than cleanup for if everybody can do a bit of testing
that would be great then I can officially Release

Christopher

[2020-12-18 03:34] BillH99999 commented on #95
@cleidigh

I tested save as default, reset to default, and creating a new folder using the default columns and all are still working great.

Thanks!
Bill

[2020-12-18 07:57] Ircama commented on #95
columnswizard-8.0.0-b6-tb works well, I have not found problems, thanks a lot for your work

[2020-12-18 13:42] nkgm-bs commented on #95
There is still the problem when selecting a column in the 'special column' tab it can't be deselected. The options tab has to be closed and reopened to do this.

The 'New...' button in the  'special column' tab does nothing. The error console shows
  Uncaught ReferenceError: miczColumnsWizardPrefPage2 is not defined
     onclick chrome://columnswizard/content/settings.html:1

Other things i mentio

[2020-12-18 17:55] cleidigh commented on #95
@nkgm-bs
thanks for the ongoing feedback. I cannot reproduce so far the de-selection problem
I see I broke the new button
What platform,/version are you using?
Christopher

[2020-12-18 18:59] nkgm-bs commented on #95
@cleidigh
Platform is Windows 10/TB 78.5
I've checked the de-selection problem with different profiles and with other add-ons deactivated. The problem still happens.

Thereby i've found another problem. When i dis(!)able my add-on ShowInOut (which also adds custom columns) the  'special column' tab is completely empty and error console shows
`Uncaught (in promise) TypeError: win3pane.document.getE

[2020-12-18 18:59] cleidigh commented on #95
@nkgm-bs
my dictation software inserted 'page2' obviously my last commit,oh well
have to figure out what's different for you on the checkboxes
Christopher

[2020-12-18 19:11] cleidigh commented on #95
I need to see if I need an update observer for other columns

[2020-12-18 19:17] nkgm-bs commented on #95
This problem will arise very seldom i think. Probably its enough to wrap the code in a try/catch block.

[2020-12-18 19:23] cleidigh commented on #95
I'm going to install the extension to better understand the interaction
I tested two other extensions which add columns but I am sure
with all the permutations (includes my limitations)
it's easy to miss things
question
when you are unable to un check a custom column is one you created?

[2020-12-18 19:42] cleidigh commented on #95
okay I think I know what you see
if you uncheck a custom, col on the custom tab it toggles there
but it remains on the new columns list
is that accurate?

[2020-12-18 19:55] nkgm-bs commented on #95
No, it's one of the predefined (e.g. cc). Currently i can't test with a new column because 'New...' is not working.

but it remains on the new columns list
is that accurate?

Ah, its 'Custom columns'. No, if i check the predefined 'cc' in error and want to immediately uncheck it, i can't. The checkboxes for 'searchable' works as expected.

[2020-12-18 20:10] nkgm-bs commented on #95
I've started over. Deinstalled cw, removed all cw settings from prefs.js, installed cw again.

When i open the 'custom columns', the searchable checkboxes for the items 'contentbase', 'replyto', 'xoriginalfrom', 'xspamscore' are all checked! Deselecting all four items (which at this time works) and activating (e.g.) 'contentbase' et voilá all four searchable checkboxes are checked again. And can't

[2020-12-27 18:12] Binarus commented on #96
@cleidigh

Thank you very much for caring, and please excuse the delay.

I didn't manage to test b5, but have just installed b6 (https://github.com/micz/ColumnsWizard/blob/v8.0.0/xpi/columnswizard-8.0.0-b6-tb.xpi). Unfortunately, this made things worse:

In Thunderbird, when I choose `Tools -> Add-on options -> ColumnsWizard`, then go to tab `Custom Columns`, and hit the button `New ...`, nothing

[2020-12-27 18:23] Binarus commented on #96
@cleidigh

I have just verified that the `New ...` button works in b5 (I did not test anything else in b5, though). The misbehavior must have been introduced from b5 to b6.

Thanks again,

Binarus

[2020-12-27 19:37] cleidigh commented on #96
@Binarus
happy holidays!! thanks for the comments.
also thanks for the testing.  b5 is probably better than b6. just for your understanding:
I have been wrestling with the checkbox management.  what should be very simple
as been complicated by new security mechanisms causing lots of headaches.
I have to work through several things to get them to behave correctly.
also interrupted by some other thi

[2020-12-28 07:20] Binarus commented on #96
@cleidigh Thanks again for caring!

In the meantime, I have tested b5 further. For my use cases, it works as expected and as intended.

I have created three custom columns, displaying the contents of three different headers which our custom milters add to incoming messages, and have activated these columns in message lists with 20000+ messages.

That worked like a charm, and I even couldn't notice

[2021-01-18 23:12] IdahoGuy commented on #95
Windows 10, TB 78.6.1
Right click drop down menu on a message includes 'CW Header Edit >>' but nothing happens when I click on it and the secondary drop down menu does not show. I really hoped this was the answer I want at the moment!

[2021-05-02 16:59] jh20001 commented on #94
I do miss this one. This is now the only missing add-on in my TB install. A piece of me that is...just an empty space. A space that can't be satisfied by anything else. Just emptiness. *sad face* :)

[2021-05-02 18:04] BillH99999 commented on #94
The latest beta does support TB 78.  See this link:

https://github.com/micz/ColumnsWizard/issues/95

Bill

[2021-05-02 18:28] jh20001 commented on #94
Ah. How did I miss that. I'll have to give that a shot :)
It's already 6 mo old though. Hopefully, it is still in the plans.

[2021-08-12 22:53] BillH99999 opened #97 "Support for Thunderbird 91.0"
I have been using the beta version 8.0.0-b6 since you released it last December.  It has worked great for me in all versions of TB 78.

Thunderbird 91.0 was just released.  I installed it and the add on manager says "ColumnsWizard is incompatible with Thunderbird 91.0.".

Will ColumnsWizard be updated to be compatible with TB 91.0?

Thanks!
Bill

[2021-08-25 20:26] BlueWings76 commented on #95
Hello Christopher,

Today I installed columnswizard-8.0.0-b6-tb.xpi into Thunderbird 78.13.0 (32-bit) (latest autoupdated) under Windows 7 Ultimate 64 bit.
Only the save and reset columns to/as CW default functions work, nothing else.
There's a ColumnsWizard button in the toolbar, but it's grayed out, and clicking it produces the following in the error console :

Uncaught TypeError: tab.browser is

[2021-09-15 02:51] BillH99999 opened #98 "Is ColumnsWizard dead?"
Christopher,

I notice that nothing has happened with ColumnsWizard since beta 6 was released last December.  Is it dead?  Or, are there plans to update it for TB 91 at some point?

Thanks,
Bill

[2021-09-16 20:03] Binarus commented on #97
I would also like to know that.

Thank you very much for this ingenious add-on!

[2021-09-21 20:47] JLuc commented on #95
I installed V8 B6 on TB 78 on Ubuntu 21.04.
UI is sometimes a bit tricky but as for now it now works fine : i needed a new "reply to" column, and i got it now !

[2021-10-10 06:32] jmdaemon commented on #95
What's the status on columnswizard-8.0.0-b6 ? Thunderbird says the extension is not compatible with Thunderbird v91.2.0. As well the last time I tried it, none of the functionality was able to work, and I couldn't define, use, or edit any columns.

[2021-10-30 11:55] hopalongrock commented on #97
Please update to v 91, if possible.

Thanks

[2022-02-24 11:42] stephankoenig commented on #95
I there any way to add a "Junk Status +" Column as JunQuilla had it before?

Is that existing information?

I am willing to donate to support the development.

[2022-04-06 00:07] jh20001 commented on #98
Sadly, this seems to be the case. I finally deleted the plugin, assuming it won't be coming back. I can't even remember what I needed it for anymore, so that was the final nail in the coffin for me. If I can't remember, it must no longer be a "need"? *shrug* :)

[2022-04-06 01:21] BillH99999 commented on #98
I know for me the most useful feature was that you could save your column layout and set it so that any newly created folder or subfolder would use that column layout rather than the TB default.  Sadly it does look like this add-on is dead.  :(

[2022-04-06 01:41] SergeLalonde commented on #98
For me, it was the only way to add the Reply-To column for some emails that are sent by an automated email server proxy. I haven't found anything that can do that. :-(

[2022-04-06 01:59] jh20001 commented on #98
Ah yes! Now I remember why I was using it. Changing the default order and such. That's right! lol. Oh well :(

[2022-04-09 09:40] Ircama commented on #98
For me, the most important element of this plugin is the possibility to add the CC column to the Inbox and to the other windows (e.g., Sent Items). Currently, Thunderbird forces users to open each email, one by one, to check the CC recipients (and this is also a field that cannot be used for quick ordering).
It is quite weird that the standard column selector of Thunderbird does not have the CC fi